---
title: Puzzle Time!
---

%h1
  Hello, welcome!
%p 
  Thanks for taking the time to check out this challenge.
  Please refer to the docs over at 
  %a{href: 'docs.html'} the documentation page
  for a full description
  of the problem.
